#EVO-Icons{
	position: absolute;
	bottom: 10px;
	left: 70px;
	color: Gray;
	font-family: FontAwesome;
	font-size: 24pt;
	z-index: 220001;
}
	#EVO-Icons .ico{
		padding: 20px 10px 20px 10px;
		display: inline-block;
	}
	#EVO-Icons .ico:hover, #EVO-Icons .ico:focus{
		color: dimgray;
		-webkit-transition-duration: 0.2s;
	}

	#EVO-Icons .staff:before{ content: "\f0c0"; }
	#EVO-Icons .games:before{ content: "\f0ce"; }
	#EVO-Icons .menu:before{ content: "\f0e7"; }

.EVO{}


.EVO .listView, .EVO .singleStaff{display: block;}

.EVO table{width: 100%;border-spacing: 2px;margin:0.5em 0;}
	.EVO th{color: black;background-image: -webkit-linear-gradient(top, #FAA51A 0%, #F47A20 100%);text-align: left;line-height: 1.5em;padding: 0 5px;border: 1px solid #000;cursor: pointer;font-weight: normal;}
	.EVO tbody tr:nth-child(odd){background-color: #EEE;}
	.EVO tbody td{padding: 0.5em 1em;}

	.EVO .staffU{font-size: 0.6em;font-style: italic;color: gray;display: block;}
	.EVO .staffR, .EVO .staffD, .EVO .staffT, .EVO .staffS, .EVO .staffL{text-align: center;vertical-align: top;}
	.EVO .staffN, .EVO .staffP{vertical-align: top;}

.EVO .staffHeader{width: 100%;padding-bottom: 1em;}
	.EVO .staffName{font-size:34pt;}
	.EVO .staffRank{color:gray;}
	.EVO .staffLevel{float:right;text-align:center;font-size:18pt;margin-top:0.5em;}
	.EVO .staffLevelProgBar{width:150px;height:10px;border:1px solid #000;background-color: #00bfff;}
	.EVO .staffLevelProgBarFill{height:10px;background-color:#ffbd43;width:64%;}

	.EVO .subpanels{display: table;width: 100%;margin-bottom: 1em;}
	.EVO .subpanel{display: table-cell;width: 50%;}

	.EVO .panel{display: none;overflow: hidden;}
	.EVO .panel.active{display: block;}

	.EVO .valueList{margin: 0;padding: 0;list-style: none;font-size: 20pt;}
		.EVO .valueList li{list-style: none;margin: 0.25em 0;text-align: right;}
		.EVO .valueList strong{display: inline-block;text-align: left;float: left;}