<div class="staffHeader">
	<div class="staffLevel">
		Level {{level}}
		<div class="staffLevelProgBar">
			<div class="staffLevelProgBarFill" style="width:{{&progressBar}}%;"></div>
		</div>
	</div>

	<div class="staffName">{{name}}</div>
	<div class="staffRank">{{&rank}}</div>
</div>

<div class="subpanels">
	<div class="subpanel left">
		<ul class="valueList">
			<li><strong>Design:</strong> {{design}}</li>
			<li><strong>Technology:</strong> {{tech}}</li>
			<li><strong>Research:</strong> {{research}}</li>
			<li><strong>Speed:</strong> {{speed}}</li>
			<li><strong>Salary per Month:</strong> {{pay}}</li>
		</ul>
	</div>

	<div class="subpanel right">
		<!-- Coming Soon? Maybe? -->
	</div>
</div>

<div class="centeredButtonWrapper">
	<div class="evobtn-goback selectorButton orangeButton windowLargeOkButton mainMenuButton">Return</div>
</div>

</div>