<div id="EVO-Staff" class="EVO">
	<div id="EVO-Menu-Staff" class="windowBorder wideWindow EVO" style="overflow:auto;display:none;">
		<div class="windowTitle smallerWindowTitle">EvolutionMod - View Staff</div>
		<!-- View all Staff -->
		<div class="panel listView active">
			<table id="EVO-Staff-Table">
					<thead>
						<tr>
							<th>Name:</th>
							<th>Level:</th>
							<th>Design:</th>
							<th>Tech:</th>
							<th>Research:</th>
							<th>Speed:</th>
							<th>Salary:</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
			</table>

			<div class="centeredButtonWrapper okButtonWrapper">
				<div class="okButton selectorButton windowMainActionButton orangeButton windowLargeOkButton">OK</div>
			</div>

		</div>
		<!-- Individual Staff -->
		<div class="panel singleView">

		</div>

	</div>
</div>